{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta description="This a blog that gives you valuable contents">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>


{% block navbar %}
<a href="{% url 'blog:post_list' %}">FlatNews</a>
<ul>
     <li class="active"><a href="{% url 'blog:post_list' %}">Home</a></li>
     <li><a href="{%  url 'blog:latest_posts' %}">Latest Posts</a></li>
     <li><a href="#">Contact</a></li>
</ul>
{% endblock %}


{% block home %}
<section id="home">
<h1>{% block main_header %}FlatNews{% endblock %}</h1>
<h4>{% block subheader %}Actually wa ti ma gbó(WTMG)🧏‍♂️{% endblock %}</h4>
<h5> <i>This blog has <b>{% total_posts_number %} posts</b></i></h5>
<p><a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed 🙏</a></p>
<a href="{% url 'blog:latest_posts' %}">{% block home_page_button %} Discover More {% endblock home_page_button %}</a>
</section>
{% endblock %}
 

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>


{% block footer %}
<footer>
<h3>FlatNews</h3>
<p>We will  always be at your service to provide you with entertaining, factual and informative news ☺️</p>
<p>Copyright &copy; 2021</p>
</footer>
{% endblock %}

</body>
</html>