{% extends "blog/main.html" %}
{% block title %} FlatNews{% endblock title %}

{% block main_header %} FlatNews{% endblock main_header %}
{% block subheader %}O yę ko ti ma gbó🧏‍♂️{% endblock %}
{% block home_page_button %} Discover More {% endblock %}

<body>

{% block content %}

<!--div class="preloader">
     <div class="sk-spinner sk-spinner-wordpress">
          <span class="sk-inner-circle"></span>
     </div>
</div-->

<!-- My Blog Section -->

<section id="blog">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-post-thumb">
                         <div class="blog-post-image">
                              {% for post in posts %}
                              <a href="{{ post.get_absolute_url }}">
                                   <img src="static/images/blog-image1.jpg" class="img-responsive" alt="Blog Image">
                              </a>
                         </div>

                         <div class="blog-post-title">
                              <h3><a href="{{ post.get_absolute_url }}">{{ post.title.capitalize }}</a></h3>
                         </div>

                         <div class="blog-post-format">
                              <span><a href="#"><img src="images/{{post.author_picture}}" class="img-responsive img-circle"> {{ post.author }}</a></span>
                              <span><i class="fa fa-date"></i> {{ post.published_date }}</span>
                         </div>

                         <div class="blog-post-des">
                              <p>{{ post.content|truncatewords:30|linebreaks }}</p>
                              <a href="{{ post.get_absolute_url }}" class="btn btn-default">Continue Reading</a>
                              <div class="space"></div>
                              {% endfor %}
                         </div>
                    </div>
               </div>
          </div>
     </div>
</section>

   <!-- Pagination Section -->

   {% include "blog/pagination.html" with page=page_obj %}

{% endblock %}