{% load blog_tags %}

{% if query %}
    {% with results.count as total_results %}
        <h3 style="text-align:center;">Posts containing ‘<i style="color:#bfba55;">{{ query }}</i>’ : <span><h5>{{ total_results }} result{{ total_results|pluralize }} found</h5><p><a href="{% url 'blog:post_search' %}">Search again</a></p></span> </h3><hr>
    {% endwith %}
{% else %}
    <h1 style="text-align:center">Search for posts</h1>
    <hr>
    <form method="get">
        {{ form.as_p }}
    <input type="submit" value="Search"> </form>
{% endif %}
{% include "blog/postListView.html" with posts=results %}
