*{
  margin: 0;
  font-size: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
  font-family: Helvetica, sans-serif;
}

header {
  padding-bottom: 30px;
}

nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 40px;
}

nav li{
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
}
nav li a{
  text-decoration: none;
  color: purple; 
}

nav a:hover{border-bottom: 1px solid;}

article {
  padding: 40px 0;
}

footer a:link{
  width: 100%;
  color:black;
  text-decoration: none;
  padding:5px;
}

footer {
  text-align: center;
  padding-top:20px;
}

.icons{font-size: 34px;}

.icons i{
  text-align: center;
  padding: 20px;
}

/* ----------------------------------------------------------------
                            POST LIST
---------------------------------------------------------------- */

#blog-section {
  padding-top: 50px;
}

.post-thumbnail {
  margin: auto;
  display: block;
  width: 80%;
}

.post-details{
  padding: 30px 0;
  max-width: 80%;
  text-align: left;
  margin: auto;
}

.post-details h1{
  font-size: 25px;
  padding-bottom: 20px;
}

.post-details a{
  text-decoration: none;
  color: black;
}

.post-details h1 a{
  color: purple;
}

 .author-info {
  display:block;
  color: gray;
  padding-top: 20px;
  margin: auto;
  width: 80%;
}

.author-image {
  display: inline-block;
  width: 30px;
  border-radius: 50%;
  margin-right: 12px;
} 

article input[type=button] {
  display: block;
  margin-top: 30px;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  width: 80%;
  border: 1px solid purple;
} 

/* @media only screen and (min-width: 1024px) {
  .post-thumbnail {
    margin: auto;
    display: block;
    width: auto;
  }

  .post-details{
    width: 1200px;
  }

  .post-details h1{font-size: 35px;}

  nav ul {
    gap: 50px;
    justify-content: center;
  }

  article input[type=button] {
    width: 1200px;
  }

  .author-info {
    width: 1200px;
  }
} */