*{
  margin: 0;
}
body{
  background: url('../images/home-bg.jpg') no-repeat;
  background-size:contain;
}

#blog {
  padding-top: 1000px;
}
.blog_post_title{
  padding-right: 100000px;
}
.author_image img{
  border-radius: 50%;
  width: 5%;
}

/*Mobile Responsive */
@media screen and (max-width: 900px) {
  .post_thumbnail img{
    width: 100%;
  }
  #blog{
    padding-top: 100px;
  }
}