:root {
  --gray : #777;
}

*{
  margin: 0;
  font-size: 100%;
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header {padding-bottom: 30px;}

nav ul {
  display: grid;
  padding-top: 40px;
  grid-template-columns: auto auto auto;
}

nav li{
  display: inline;
  list-style-type: none;
  text-transform: uppercase;
}
nav li a{
  color: purple; 
  text-decoration: none;
}

nav a:hover{border-bottom: 1px solid;}

article {
  padding: 38px 0 40px 0;
}

footer {
  padding-top:20px;
  text-align: center;
}

footer a:link{
  width: 100%;
  padding:5px;
  color: var(--gray);
  text-decoration: none;
}

footer .icons a{
  text-align: center;
  color: var(--gray);
  padding-right: 40px;
}

/* ----------------------------------------------------------------
                            POST LIST
---------------------------------------------------------------- */

#blog-section {padding-top: 50px;}

.post-thumbnail, .post-details, .author-info, .button {width: 80%;}

.post-thumbnail {
  margin: auto;
  display: block;
}

.post-details{
  margin: auto;
  padding: 30px 0;
  text-align: left;
}

.post-details h1{
  font-size: 25px;
  padding-bottom: 20px;
}

.post-details p{color: var(--gray);}

.post-details a{
  color: black;
  text-decoration: none;
}

.post-details h1 a{color: purple;}

.post-details h1 a:hover{opacity: 0.8;}

 .author-info {
  display:block;
  margin: auto;
  padding-top: 20px;
  color: var(--gray);
}

.author-info span {
  padding-right: 20px;
}

.author-image {
  width: 30px;
  margin-right: 12px;
  border-radius: 50%;
  display: inline-block;
} 

.button {
  margin: auto;
  padding: 20px;
  display: block;
  border-radius: 8px;
  color: var(--gray);
  text-align: center;
  text-decoration: none;
  border: 1px solid purple;
  transition: all 0.4s ease-in-out;
} 
.button:hover {
  opacity: 0.8;
  color: white;
  background-color: purple;
}

@media only screen and (min-width: 1024px) {
  nav ul {
    gap: 50px;
    justify-content: center;
  }
}